@import "tailwindcss";
@import "@fontsource-variable/inter";

:root {
  --font-inter: 'Inter Variable', sans-serif;
}

@theme inline {

  --font-sans:           var(--font-inter);
  --default-font-family: var(--font-sans);

}