html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #f8fafc;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

#root {
    width: 100%;
    height: 100%;
}

.content-container {
    background-color: transparent;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}
