@import "tailwindcss";
@import "@fontsource-variable/inter";

html, body, #root {
  height: 100%;
}

:root {
  --font-inter: 'Inter Variable', sans-serif;

  --color-cream: #f2ecdc;
  --color-header: #6e6b63;
  --color-off-white: #f8f8f8;
  --color-light-gray: #e0e0de;
  --color-button-primary: #34b4eb;
  --color-button-hover: #82d2f5;
  --color-status-completed: #03fc20;
  --color-status-completed-text: #18a84e;
  --color-status-in-progress: #fce303;
  --color-status-in-progress-text: #bf9f00;
}

@theme inline {
  --color-background:    var(--color-light-gray);
  --color-header:       var(--color-header);
  --color-cream:         var(--color-cream);
  --color-button-primary: var(--color-button-primary);
  --color-button-hover: var(--color-button-hover);
  --color-status-completed: var(--color-status-completed);
  --color-status-completed-text: var(--color-status-completed-text);
  --color-status-in-progress: var(--color-status-in-progress);
  --color-status-in-progress-text: var(--color-status-in-progress-text);

  --font-sans:           var(--font-inter);
  --default-font-family: var(--font-sans);
}
